.experienceTitle{
    margin-right: 9%;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.experienceCards_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}